/**
* Funfact Area
*/
.funfact .funfact-inner {
  display: inline-block;
  position: relative;
  padding-left: 70px; }
  .funfact .funfact-inner i {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    font-size: 48px; }
